<section id="contact" class="default">

	<hgroup>
		<h2><{$message}></h2>
	</hgroup>
	
	<article class="user-content">
	
	    <hgroup>
		    <h3><{_ text="You may find details:"}></h3>
	    </hgroup>
	    
	    <p>Email: infomax AT gmail.com</p>
	    <p>Xoops Engine Project: <a href="http://sf.net/projects/xoops/">http://sf.net/projects/xoops</a></p>
	    <p>Xoops Engine Demo: <a href="http://www.xoopsengine.org/">http://www.xoopsengine.org</a></p>
	    <p>Xoops Engine Community: <a href="http://xoops.sf.net/">http://xoops.sf.net</a></p>
	    <p>Twitter: <a href="http://www.twitter.com/XoopsProject">http://www.twitter.com/XoopsProject</a></p>
	    <p>Facebook: <a href="http://www.facebook.com/xoops">http://www.facebook.com/xoops</a></p>
	    
	</article>
	
	<article class="user-content contact-form"><{$contactForm}></article>
</section>