<{headLink href="app/user/resources/scripts/register.css"}>

<section id="register" class="user">

	<!--
	<{if !empty($captcha)}>
	<{headScript source="
	    var captcha_id = '`$captcha.elementId`';
	    var callback = '`$captcha.callback`';
	"}>
	<{jQuery}>
	<{headScript src='img/captcha/scripts/captcha.js'}>
	<{/if}>
	-->
	
	<hgroup>
		<h2><{$title}></h2>
	</hgroup>
		
	<{if !empty($message)}>
	   <article class="user-content register-message">
		   <{$message}>
		</article>
	<{/if}>
	
	<article class="user-content register-form">
		<{$xoopsRegister}>
	</article>
	
	<article class="user-content">
	    <{_ text="If you already have an account, please click to login:"}> <a href="<{appUrl route=login}>"><{_ text=Login}></a>
	</article>

</section>